<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Produkte</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list *ngFor="let zeile of PRODUKTE_ARRAY">

        <ion-item>
          <ion-label>

            <h1>{{zeile.name}}</h1>
            <h2 *ngIf="zeile.exklusiv">Exklusives Angebot</h2>

          </ion-label>
        </ion-item>

    </ion-list>

</ion-content>