<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Zufallszahlen 2</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">

    <ion-list>

        <ion-item>
          <ion-label>
            <h1>Zufallszahl: {{ zufallszahl }}</h1>
            <div *ngIf="zufallszahl % 2 === 0">
                <h2>Zahl ist gerade.</h2>
            </div>
            <div *ngIf="zufallszahl % 2 === 1">
                <h2>Zahl ist ungerade.</h2>
            </div>
          </ion-label>
        </ion-item>

    </ion-list>

</ion-content>
